body {
    font-family: "Open Sans", sans-serif;
}

/* common shared style */
.primary-text {
    color: rgb(253, 110, 10);
}

.primary-btn {
    border-radius: 5px;
    background: rgb(253, 110, 10);

    padding: 10px 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border: none;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800px;
}

nav>ul {
    display: flex;
    align-items: center;
  

}

nav li {
    margin-right: 50px;
    list-style: none;

}


nav li a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 400;
}



/* header related style */
header{
    background: rgb(255, 248, 243);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    
}
.profile-pic{
    width: 500px;
    /* height: 600px; */
}
.banner-content{
    /* width: 50%; */
}